@primary-color: #a100ff;
@secondary-color: #00c2ff;
@dark-color: #050505;

.button-less {
  background: @primary-color;
  color: white;
  border-radius: 8px;
}

.card-less {
  background: @dark-color;
  border: 1px solid @secondary-color;
}